@import url("https://fonts.googleapis.com/css2?family=Quicksand:wght@400;700&family=Roboto+Condensed:wght@400;700&display=swap");

* {
  box-sizing: border-box;
}

header {
  text-align: center;
  margin: 3rem 0;
}

main {
  width: 90%;
  max-width: 50rem;
  margin: auto;
}
